

body{
    height: 1000px;
    width: 1000px;
    font-family: Tahoma, Arial, sans-serif;
    color:#191923;
    background-color: #C9C9C9;
}

nav{
    width: 66%;
    background-color: #fff;
    margin: 40px auto;
}

nav ul {
    padding: 30px 20px;
    list-style: none;
}

nav ul li {
    margin: 5px;
    display: inline-block;
}

nav ul li a{
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li:first-of-type a{
    color: #813865;
}

nav ul li:first-of-type a{
    text-transform: capitalize;
}

nav ul li:last-of-type:first-letter{
    text-transform: lowercase;
}

nav ul li a:hover{
    color: #813865;
    cursor: pointer;
}

body>ul li{
    display: inline-block;
    width: 24%;
    margin: 0 2px 0 0;
    vertical-align: top;
}

body>ul{
    padding: 0;
    width: 66%;
    margin: 30px auto;
}

body>ul li section{
    background-color: #fff;
    height: 14.5rem;
}

body>ul section:hover{
    cursor: pointer;
    opacity: 0.8;
}

section img{
    width: 100%;
    height: 8rem;
    border-bottom: 2px solid #C9C9C9;
}

section h3{
    padding: 0 5px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

section p{
    padding: 0 5px;
    font-size: 11px;
    line-height: 0.9rem;
    margin-bottom: 5px;
}