@import "https://fonts.google.com/selection?selection.family=Lato";

body{
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    background-color: #24437B;
}

nav{
    padding: 50px 10px 100px;
}

nav img{
    float: left;
}
nav ul{
    float: right;
}

nav ul li{
    padding: 0 10px 0 10px;
    display: inline-block;

}

nav ul li:last-of-type {
    padding: 5px;
    border-radius: 7px;
    background-color: #3EC0EE;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
}

h1.header-title{
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}

h2.header-subtitle{
    text-align: center;
    padding: 10px;
    color: #477E9C;
}

#button-container{
    width: 10%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 7px;
    background-color: #3EC0EE;
    text-align: center;
}

#button-container a{
    padding: 5px;
}

.header-services{
    margin: 0 auto;
    vertical-align: top;
    padding-top: 30px;
    width: 75%;
}

.service{
    margin: 0 auto;
    display: table-cell;
    width: 25%;

}
article{
    padding: 10px;
}

article:hover{
    background-color: #3EC0EE;
    cursor: pointer;
}

.service article h2{
    text-align: center;
    padding: 10px;
}

.service article p{
    padding: 20px 30px 30px;
    text-transform: none;
    text-align: left;
    font-size: 15.5px;
}

.service article p a{
    display: block;
    padding-top: 30px;
    color: #ffffff;
}